.container-fluid {
  max-width: auto;
}
.container {
  max-width: 98rem;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3.2rem;
}
